fieldset {
    margin: 0 auto;
    width: 450px;
    display: flex;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 30px;
}

legend {
    width: 400px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
}

input {
    padding: 6px 5px 6px 5px;
}

.error {
    display: none;
}

.active {
    display: block;
    border: 1px solid red;
}

.textarea {
    max-width: 395px;
    max-height: 50px;
}

button {
    padding: 7px 8px 7px 8px;
}